@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    /* Navigation */

    .navigationButton {
        @apply text-white mx-2 px-2 h-8 rounded-lg hover:bg-gray-500 flex items-center;        
    }

    .dropdown {
        @apply hidden absolute -inset-x-16 w-32 z-auto bg-gray-50 rounded-lg px-2 py-2 border border-gray-300
    }

    .avatar {
        @apply relative block
    }

    .avatar:hover .dropdown {display: block;}

    /* Login and registration */
    .signUpContainer {
        @apply grid grid-cols-2 justify-items-center content-start mt-20 sm:mt-32;
        height: calc(100vh - 48px - 80px);
    }

    .formWrapper {
        @apply col-span-2 md:col-span-1 align-middle;
    }

    .imageWrapper {
        @apply col-span-1 align-middle hidden md:flex;
    }

    .form {
        @apply flex flex-col items-center;
    }

    .form input[type=text], input[type=email] {
        @apply border border-gray-300 hover:border hover:border-gray-400 rounded-md h-9 w-56 px-2 text-sm outline-none focus:ring-2 focus:ring-gray-800;
    }

    .formPassword {
        @apply border border-gray-300 hover:border hover:border-gray-400 rounded-md h-9 w-56 px-2 outline-none focus:ring-2 focus:ring-gray-800;
    }

    .formPasswordIncorrect {
        @apply border border-red-400 rounded-md h-9 w-56 px-2 ;
    }

    .formHeading {
        @apply text-center text-2xl font-bold mb-4;
    }

    .inputLabel {
        @apply my-1 text-left w-56;
    }

    .submitButton {
        @apply text-white bg-gray-800 hover:bg-gray-700 rounded-lg hover:cursor-pointer px-2 py-2 mb-2 mt-4 w-44;
    }

    .googleButton {
        @apply text-white bg-gray-800 hover:bg-gray-700 rounded-lg hover:cursor-pointer px-2 py-2 my-2 w-44;
    }

    /* Other */

    ::-webkit-scrollbar {
        display: none;
    }

    .disableScroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}